@import '../../styles/mixins.scss';

.Message {
  &--box {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }

  &--text {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;

    img {
      vertical-align: middle;
    }
  }

  &--container {
    @include flex-row-center;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
  }

  &--sentText {
    @include flex-row-center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
  }
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundGreen {
  background: forestgreen;
}

.backgroundLight {
  background: lightgray;
}


.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}